* { 
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;

}

body {
    min-height: 100vh;
    background-color: #fff;

}
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EDFF21;
}

.nav a{
    position: relative;
    font-size: 18px;
    color: #232411;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}




#top__nav{
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px;
    padding-top: 10px;


}

.nav__buttons{
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px;
}

#main__nav__container{
    display: flex;
    position: relative;
    padding: 0px 20px;
    align-items: center;
    z-index: 100;
    
}

#main__nav{
    margin: 0 auto;
    width: 100vw;
    text-align: center;

}

#main__nav a{
    float: none;
    font-size: 36px;
    padding: 0px 40px;

}

.nav a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #232411;
    transition: .3s;
}

#main__nav a:hover::before{
    width: 100%;
}


#logo{
    font-size: 32px;
    font-weight: 700;
    color: #232411;
    text-decoration: none;
}


.main__content{
    padding: 0px 210px;

    display: flex;
    justify-content: center;
}

.textbox{
    width: 40%;
    padding: 40px;
}

#signup__button button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3321FF;
    color: #FFFFE5;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}