* { 
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    overflow: hidden;

}

body {
    min-height: 100vh;
    background-color: #fff;

}
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #edff21;
    height: 20vh;
}

.nav a{
    position: relative;
    font-size: 18px;
    color: #232411;
    font-weight: 800;
    text-decoration: none;
    margin-left: 40px;

}


#top__nav{
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px;
    padding-top: 10px;

}

.nav__buttons{
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px;
}

#main__nav__container{
    display: flex;
    position: relative;
    padding: 0px 10px;
    align-items: center;
    z-index: 100;
    
}

#main__nav{
    padding: 0 auto;
    width: 60vw;
    text-align: center;

}

#main__nav a{
    float: none;
    font-size: 36px;
    padding: 0px 30px;

}

.nav a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3321FF;
    transition: .3s;
}

.nav a:hover::before{
    width: 100%;
}


#logo{
    display: flex;
    font-size: 40px;
    padding-right: 60px;
    color: #232411;
    text-decoration: none;
    pointer-events: none;
    user-select: none;
    
}

.main__content{
    position: relative;
    width:100%;
    height: 80vh;
    background-image: linear-gradient(#ffe521, #EDFF21);
}

.hero__image{
    background-image: url("background_transparent.png");
    background-size: 90vh;
    height: 80vh;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
}

.hero__text{
    position: relative;
    left: 25%;
    width: 50%;
    bottom: 100%;
    font-weight: 700;
    color: #232411;
}

.textbox{
    padding: 40px 20%;
    width: 500px;
    position: relative;
    text-align: center;
}

.textbox a{
    text-decoration: none;
    color: #232411;
}
.textbox p{
    padding-bottom: 20px;
    font-size: 20px;
}

.signup__button button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3321FF;
    color: #FFFFE5;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.nav__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px;
}

.button button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #808080;
    color: #FFFFE5;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    
}


#login-link {
    text-decoration: underline;
    color: #232411;
}

#sign__up button{
    width: 200px;
    font-size: 30px;
}